In [1]:
import pandas as pd
import numpy as np

In [2]:
df_yes = pd.read_csv('최종 데이터(yes service).csv')
df_no = pd.read_csv('최종 데이터(no service).csv')

In [3]:
df_yes

,quarter,dong,service,opening_rate,closure_rate,store_net_growth_rate,store_count,franchise_count,store_total_count,current_month_sales_amount,...,age_20s_sales_amount,age_30s_sales_amount,age_40s_sales_amount,age_50s_sales_amount,age_60_and_above_sales_amount,male_sales_amount,female_sales_amount,similar_business_count,open_store_count,closed_store_count
0,20222,송파구 위례동,외국어학원,31.0,3.0,0.28,29,5,34,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,34.0,9.0,1.0
1,20222,송파구 위례동,슈퍼마켓,33.0,0.0,0.33,15,2,17,2.030632e+07,...,1943124.0,3.472889e+06,9.162403e+06,4323790.0,1250947.0,7.163512e+06,1.314281e+07,17.0,5.0,0.0
2,20223,송파구 위례동,커피-음료,20.0,8.0,0.12,25,12,37,2.729829e+09,...,334010076.0,1.107831e+09,7.320731e+08,278566962.0,141244414.0,1.121100e+09,1.497307e+09,37.0,5.0,2.0
3,20223,송파구 위례동,예술학원,17.0,2.0,0.15,46,2,48,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,48.0,8.0,1.0
4,20211,종로구 위례동,한식음식점,12.0,7.0,0.05,42,18,60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,60.0,5.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498811,20234,송파구 가락1동,패스트푸드점,33.0,67.0,-0.33,3,2,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,2.0
498812,20234,송파구 가락1동,외국어학원,7.0,0.0,0.07,14,0,14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.0,0.0
498813,20234,송파구 가락1동,편의점,100.0,0.0,1.00,1,12,13,5.947351e+09,...,765336862.0,1.708174e+09,1.861864e+09,971530584.0,424961960.0,4.652217e+09,1.088981e+09,13.0,1.0,0.0
498814,20234,송파구 가락1동,일반의류,7.0,0.0,0.07,14,0,14,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,1.0,0.0
498815,20234,송파구 가락1동,한복점,100.0,0.0,1.00,1,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,0.0

In [4]:
df_no

,quarter,dong,pop_total,pop_male,pop_female,pop_floating,visitor_facility_count,avg_monthly_income,total_expenditure,monthly_rent_per_pyeong
0,20211,중구 명동,8749,3737,5012,8402492,542,3733600,46546968000,180600.0
1,20212,중구 명동,8644,3733,4911,10284398,542,3733600,55297008000,171684.0
2,20213,중구 명동,8580,3746,4834,9011375,542,3733600,55509810000,179329.0
3,20214,중구 명동,8625,3772,4853,11323327,542,3733600,63917672000,189983.0
4,20221,중구 명동,8597,3749,4848,9344018,542,3733600,62275801000,197310.0
...,...,...,...,...,...,...,...,...,...,...
5973,20232,종로구 종로5.6가동,16282,8588,7694,5466638,212,2531450,9406493000,293452.0
5974,20233,종로구 종로5.6가동,16272,8585,7687,4934033,212,2531450,8717278000,293318.0
5975,20234,종로구 종로5.6가동,16169,8514,7655,5069880,212,2531450,9876132000,297493.0
5976,20241,종로구 종로5.6가동,16061,8441,7620,4692154,212,2531450,3164045000,296837.0
5977,20242,종로구 종로5.6가동,16015,8414,7601,4991461,212,2531450,10086352000,277462.0

In [6]:
# 서비스 대분류 생성 함수 수정 및 적용
def categorize_service(service_name):
    if '학원' in service_name or '독서실' in service_name or '컴퓨터학원' in service_name:
        return '교육업'
    elif ('슈퍼마켓' in service_name or '편의점' in service_name or '판매' in service_name or
          '의약품' in service_name or '서적' in service_name or '화장품' in service_name or 
          '가방' in service_name or '시계' in service_name or '핸드폰' in service_name or
          '중고차판매' in service_name or '가전제품' in service_name or '가구' in service_name or
          '청과상' in service_name or '육류' in service_name or '수산물' in service_name):
        return '소매업'
    elif ('음식점' in service_name or '커피' in service_name or '음료' in service_name or 
          '제과점' in service_name or '패스트푸드' in service_name or '분식' in service_name or
          '치킨' in service_name or '호프' in service_name or '간이주점' in service_name):
        return '음식업'
    elif ('의원' in service_name or '병원' in service_name or '의료' in service_name or
          '동물병원' in service_name or '한의원' in service_name):
        return '의료업'
    elif ('부동산' in service_name or '법무' in service_name or '여행사' in service_name or
          '통번역' in service_name or '청소' in service_name or '세무' in service_name or
          '변호사' in service_name or '회계사' in service_name or '변리사' in service_name):
        return '서비스업'
    elif ('PC방' in service_name or '당구장' in service_name or '골프' in service_name or 
          '스포츠' in service_name or '노래방' in service_name or '볼링장' in service_name or
          'DVD방' in service_name or '비디오' in service_name or '오락장' in service_name):
        return '레저/여가업'
    else:
        return '기타'

# 새로운 열 추가
df_yes['major'] = df_yes['service'].apply(categorize_service)

In [ ]:
df_yes

In [7]:
gentrification_categories = ['음식업', '소매업', '서비스업']
df_gentrification = df_yes[df_yes['major'].isin(gentrification_categories)]

In [8]:
df_gentrification

,quarter,dong,service,opening_rate,closure_rate,store_net_growth_rate,store_count,franchise_count,store_total_count,current_month_sales_amount,...,age_30s_sales_amount,age_40s_sales_amount,age_50s_sales_amount,age_60_and_above_sales_amount,male_sales_amount,female_sales_amount,similar_business_count,open_store_count,closed_store_count,major
1,20222,송파구 위례동,슈퍼마켓,33.0,0.0,0.33,15,2,17,2.030632e+07,...,3.472889e+06,9.162403e+06,4.323790e+06,1.250947e+06,7.163512e+06,1.314281e+07,17.0,5.0,0.0,소매업
2,20223,송파구 위례동,커피-음료,20.0,8.0,0.12,25,12,37,2.729829e+09,...,1.107831e+09,7.320731e+08,2.785670e+08,1.412444e+08,1.121100e+09,1.497307e+09,37.0,5.0,2.0,음식업
4,20211,종로구 위례동,한식음식점,12.0,7.0,0.05,42,18,60,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,60.0,5.0,3.0,음식업
5,20211,종로구 위례동,부동산중개업,6.0,1.0,0.05,94,0,94,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,94.0,6.0,1.0,서비스업
7,20212,종로구 위례동,한식음식점,20.0,9.0,0.11,45,20,65,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,65.0,9.0,4.0,음식업
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498801,20234,송파구 가락1동,재생용품 판매점,0.0,0.0,0.00,1,0,1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0,0.0,소매업
498806,20234,송파구 가락1동,슈퍼마켓,4.0,2.0,0.02,49,3,52,2.339024e+10,...,2.379541e+09,3.863288e+09,5.629381e+09,7.949963e+09,1.033269e+10,9.858113e+09,52.0,2.0,1.0,소매업
498810,20234,송파구 가락1동,일식음식점,1.0,0.0,0.01,68,2,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,70.0,1.0,0.0,음식업
498811,20234,송파구 가락1동,패스트푸드점,33.0,67.0,-0.33,3,2,5,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,5.0,1.0,2.0,음식업
498813,20234,송파구 가락1동,편의점,100.0,0.0,1.00,1,12,13,5.947351e+09,...,1.708174e+09,1.861864e+09,9.715306e+08,4.249620e+08,4.652217e+09,1.088981e+09,13.0,1.0,0.0,소매업

In [22]:
df_gentrification = df_yes.copy()

# '음식업'과 '소매업'만을 사용하여 LQ 지수를 계산하고 필요한 파생 변수를 생성

# 음식업 데이터 필터링 및 외식업 점포 비율 LQ 지수 계산
food_service_df = df_gentrification[df_gentrification['major'] == '음식업']
food_service_rate = food_service_df.groupby(['dong', 'quarter'])['store_count'].sum().reset_index(name='음식업_점포_수')
food_service_total = food_service_df.groupby('quarter')['store_count'].sum().reset_index(name='전체_음식업_점포_수')
food_service_rate = pd.merge(food_service_rate, food_service_total, on='quarter', how='left')
food_service_rate['food_service_lq'] = (food_service_rate['음식업_점포_수'] / food_service_rate['전체_음식업_점포_수']) / (
    food_service_rate['음식업_점포_수'].sum() / food_service_rate['전체_음식업_점포_수'].sum())

# 소매업 데이터 필터링 및 소매업 점포 비율 LQ 지수 계산
retail_service_df = df_gentrification[df_gentrification['major'] == '소매업']
retail_service_rate = retail_service_df.groupby(['dong', 'quarter'])['store_count'].sum().reset_index(name='소매업_점포_수')
retail_service_total = retail_service_df.groupby('quarter')['store_count'].sum().reset_index(name='전체_소매업_점포_수')
retail_service_rate = pd.merge(retail_service_rate, retail_service_total, on='quarter', how='left')
retail_service_rate['retail_service_lq'] = (retail_service_rate['소매업_점포_수'] / retail_service_rate['전체_소매업_점포_수']) / (
    retail_service_rate['소매업_점포_수'].sum() / retail_service_rate['전체_소매업_점포_수'].sum())

# 프랜차이즈 비율 LQ 지수 계산 (모든 데이터 사용)
franchise_rate = df_gentrification.groupby(['dong', 'quarter'])['franchise_count'].sum().reset_index(name='프랜차이즈_수')
franchise_total = df_gentrification.groupby('quarter')['franchise_count'].sum().reset_index(name='전체_프랜차이즈_수')
franchise_rate = pd.merge(franchise_rate, franchise_total, on='quarter', how='left')
franchise_rate['franchise_lq'] = (franchise_rate['프랜차이즈_수'] / franchise_rate['전체_프랜차이즈_수']) / (
    franchise_rate['프랜차이즈_수'].sum() / franchise_rate['전체_프랜차이즈_수'].sum())

# 청년층 매출액 비율 LQ 지수 계산 (모든 데이터 사용)
df_gentrification['청년층_매출'] = (
    df_gentrification['age_30s_sales_amount'] +
    df_gentrification['age_20s_sales_amount'] +
    df_gentrification['age_30s_sales_amount']
)

total_sales_per_quarter = df_gentrification.groupby(['dong', 'quarter'])['청년층_매출'].sum().reset_index(name='청년층_매출_비율')
total_sales_overall = df_gentrification.groupby('quarter')['청년층_매출'].sum().reset_index(name='전체_청년층_매출')

# 데이터 병합
total_sales_per_quarter = pd.merge(total_sales_per_quarter, total_sales_overall, on='quarter', how='left')

# 청년층 매출 비율 LQ 지수 계산
total_sales_per_quarter['youth_sales_lq'] = (total_sales_per_quarter['청년층_매출_비율'] / total_sales_per_quarter['전체_청년층_매출']) / (
    total_sales_per_quarter['청년층_매출_비율'].sum() / total_sales_per_quarter['전체_청년층_매출'].sum()
)

# 개업률과 폐업률 변수 활용하여 개폐업 비율 계산 및 LQ 지수 생성

# 개폐업 비율 계산 (개업률 - 폐업률)
df_gentrification['개폐업_비율'] = df_gentrification['opening_rate'] - df_gentrification['closure_rate']

# 개폐업 비율 LQ 지수 계산
open_close_rate = df_gentrification.groupby(['dong', 'quarter'])['개폐업_비율'].sum().reset_index(name='개폐업_비율_합계')
open_close_total = df_gentrification.groupby('quarter')['개폐업_비율'].sum().reset_index(name='전체_개폐업_비율')

# 데이터 병합
open_close_rate = pd.merge(open_close_rate, open_close_total, on='quarter', how='left')

# 개폐업 비율 LQ 지수 계산
open_close_rate['open_close_lq'] = (open_close_rate['개폐업_비율_합계'] / open_close_rate['전체_개폐업_비율']) / (
    open_close_rate['개폐업_비율_합계'].sum() / open_close_rate['전체_개폐업_비율'].sum()
)

# 필요한 열을 모아서 최종 데이터프레임 생성 (음식업, 소매업, 프랜차이즈, 청년층 매출액, 개폐업 비율 LQ 포함)
final_df = food_service_rate[['dong', 'quarter', 'food_service_lq']].merge(
    retail_service_rate[['dong', 'quarter', 'retail_service_lq']],
    on=['dong', 'quarter'], how='outer'
).merge(
    franchise_rate[['dong', 'quarter', 'franchise_lq']],
    on=['dong', 'quarter'], how='outer'
).merge(
    total_sales_per_quarter[['dong', 'quarter', 'youth_sales_lq']],
    on=['dong', 'quarter'], how='outer'
).merge(
    open_close_rate[['dong', 'quarter', 'open_close_lq']],
    on=['dong', 'quarter'], how='outer'
)

In [23]:
final_df

,dong,quarter,food_service_lq,retail_service_lq,franchise_lq,youth_sales_lq,open_close_lq
0,강남구 개포1동,20221,0.036795,0.155832,0.052994,0.000072,2.299827
1,강남구 개포1동,20222,0.036278,0.155754,0.053008,0.000581,0.000000
2,강남구 개포1동,20223,0.036547,0.156631,0.053661,0.000169,0.173819
3,강남구 개포1동,20224,0.036444,0.156893,0.063088,0.000770,-5.593789
4,강남구 개포1동,20231,0.035419,0.142965,0.062151,0.000932,0.011181
...,...,...,...,...,...,...,...
5875,중랑구 중화2동,20232,1.080135,0.868306,0.715063,0.571270,19.123600
5876,중랑구 중화2동,20233,1.075330,0.852448,0.685436,0.584662,3.073008
5877,중랑구 중화2동,20234,1.083442,0.862502,0.690223,0.533317,-4.479691
5878,중랑구 중화2동,20241,1.073258,0.865938,0.687714,0.542402,2.254685
5879,중랑구 중화2동,20242,1.083672,0.858752,0.682793,0.479870,4.449481

In [24]:
open_close_rate

          dong  quarter  개폐업_비율_합계  전체_개폐업_비율  open_close_lq
0     강남구 개포1동    20221      -84.0   -13276.0       2.299827
1     강남구 개포1동    20222        0.0    12842.0       0.000000
2     강남구 개포1동    20223      -13.0   -27185.0       0.173819
3     강남구 개포1동    20224      147.0    -9552.0      -5.593789
4     강남구 개포1동    20231       -1.0   -32510.0       0.011181
...        ...      ...        ...        ...            ...
5875  중랑구 중화2동    20232     -429.0    -8154.0      19.123600
5876  중랑구 중화2동    20233     -163.0   -19280.0       3.073008
5877  중랑구 중화2동    20234      100.0    -8114.0      -4.479691
5878  중랑구 중화2동    20241     -184.0   -29663.0       2.254685
5879  중랑구 중화2동    20242     -110.0    -8986.0       4.449481

[5880 rows x 5 columns]

In [25]:
open_close_total

    quarter  전체_개폐업_비율
0     20211    45405.0
1     20212    37675.0
2     20213    25099.0
3     20214    49656.0
4     20221   -13276.0
5     20222    12842.0
6     20223   -27185.0
7     20224    -9552.0
8     20231   -32510.0
9     20232    -8154.0
10    20233   -19280.0
11    20234    -8114.0
12    20241   -29663.0
13    20242    -8986.0