## 서울시 상권분석 서비스에서 지역별 평균 임대료 비교 테이블 스크래핑
- 읽어올 양이 많지 않아 테이블 부분 html 소스는 직접 조회하여 txt 파일로 옮겨와 로드함)

In [25]:
!pip install bs4
!pip install html5lib

Collecting bs4
  Downloading bs4-0.0.2-py2.py3-none-any.whl.metadata (411 bytes)
Requirement already satisfied: beautifulsoup4 in e:\python\anaconda3\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in e:\python\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.5)
Downloading bs4-0.0.2-py2.py3-none-any.whl (1.2 kB)
Installing collected packages: bs4
Successfully installed bs4-0.0.2
Requirement already satisfied: html5lib in e:\python\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in e:\python\anaconda3\lib\site-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in e:\python\anaconda3\lib\site-packages (from html5lib) (0.5.1)

In [31]:
from bs4 import BeautifulSoup
import pandas as pd

In [235]:
# 1. 저장된 HTML 파일 읽기
with open('20234_20242.html', 'r', encoding='utf-8') as file:
    html = file.read()

In [237]:
# 2. BeautifulSoup으로 HTML 파싱
soup = BeautifulSoup(html, 'html.parser')

In [239]:
# 3. <table> 태그 선택 (id로 선택)
table = soup.find('table', {'id': 'table1'})  # id="table1"인 테이블 찾기

In [241]:
# 4. <thead>에서 헤더 추출
thead = table.find('thead')
levels = []
for row in thead.find_all('tr'):
    level = [th.text.strip() for th in row.find_all('th')]
    levels.append(level)

In [243]:
levels

[['행정구역', '2023년 4분기', '2024년 1분기', '2024년 2분기'],
 ['환산 임대료', '환산 임대료', '환산 임대료'],
 ['전체', '1층', '1층 외', '전체', '1층', '1층 외', '전체', '1층', '1층 외']]

In [245]:
# 헤더가 3개의 수준으로 나누어져 있으므로 멀티인덱스로 변환이 필요
columns = [
    ['행정구역', '2023년 4분기', '2023년 4분기', '2023년 4분기', '2024년 1분기', '2024년 1분기', '2024년 1분기', '2024년 2분기', '2024년 2분기', '2024년 2분기'],
    ['', '환산 임대료', '환산 임대료', '환산 임대료', '환산 임대료', '환산 임대료', '환산 임대료', '환산 임대료', '환산 임대료', '환산 임대료'],
    ['', '전체', '1층', '1층 외', '전체', '1층', '1층 외', '전체', '1층', '1층 외']
]

multi_index = pd.MultiIndex.from_arrays(columns)

In [247]:
# 5. <tbody>에서 데이터 추출
tbody = table.find('tbody')
rows = []
for row in tbody.find_all('tr'):
    cols = row.find_all('td')
    cols = [col.text.strip() for col in cols]
    rows.append(cols)

In [249]:
# 6. pandas DataFrame으로 변환

data = pd.DataFrame(rows, columns=multi_index)

In [251]:
data.head(30)

              행정구역 2023년 4분기                   2024년 1분기                    \
                      환산 임대료                      환산 임대료
                          전체       1층     1층 외        전체       1층     1층 외
0   하위 메뉴 펼침서울시 전체   137,570  152,707  122,434   136,609  151,022  122,196
1      하위 메뉴 펼침종로구   201,913  237,218  166,608   202,740  236,942  168,539
2            청운효자동   124,821  176,449   73,193   154,532  192,600  116,464
3              사직동   153,263  197,574  108,951   179,307  219,383  139,232
4              삼청동   171,215  171,215            162,297  162,297
5              부암동   120,284  120,284            126,320  126,320
6              평창동   121,357  134,264  108,450   119,281  120,897  117,665
7              무악동
8              교남동                               163,590  163,590
9              가회동   183,172  243,372  122,973   160,997  213,749  108,245
10     종로1·2·3·4가동   202,131  278,121  126,141   202,376  275,990  128,763
11         종로5·6가동   297,493  295,874  299,112   296,837  283,103  310,570
12             이화동   147,832  199,466   96,199   157,791  206,261  109,321
13             혜화동   119,510  149,060   89,960   127,014  160,981   93,047
14            창신1동   201,752  250,732  152,773   197,138  279,995  114,282
15            창신2동   120,410  173,746   67,073    82,212  102,406   62,018
16            창신3동
17            숭인1동   106,034  131,166   80,902   108,531  141,196   75,865
18            숭인2동   143,416  180,462  106,370   143,763  208,571   78,955
19      하위 메뉴 펼침중구   276,336  290,303  262,369   271,713  284,099  259,327
20             소공동   242,633  274,513  210,753   196,375  201,207  191,543
21             회현동   329,831  391,372  268,290   338,013  406,081  269,944
22              명동   271,483  351,642  191,324   277,531  366,195  188,867
23              필동   167,874  156,715  179,032   176,244  182,886  169,603
24             장충동   198,080  182,386  213,773   210,412  172,018  248,806
25             광희동   245,939  268,359  223,519   234,504  244,378  224,629
26            을지로동   207,043  278,323  135,763   205,300  279,190  131,409
27             신당동   385,919  339,903  431,934   382,723  339,010  426,436
28             다산동   183,667  194,097  173,238   179,445  166,576  192,313
29             약수동   294,817  315,340  274,295   257,803  276,165  239,440

   2024년 2분기
      환산 임대료
          전체       1층     1층 외
0    136,071  150,596  121,547
1    195,617  230,674  160,559
2    152,054  188,588  115,520
3    184,123  235,516  132,729
4    153,171  153,171
5     98,167  115,405   80,929
6    101,501   83,479  119,522
7
8    184,128  215,432  152,824
9    171,799  233,527  110,071
10   200,140  269,591  130,688
11   277,462  273,313  281,611
12   141,860  178,429  105,291
13   125,576  159,892   91,260
14   195,161  262,631  127,691
15    91,104  105,489   76,719
16   214,241  214,241
17   121,027  183,505   58,548
18   158,589  205,581  111,597
19   269,374  282,431  256,317
20   228,689  259,429  197,948
21   337,514  415,033  259,994
22   272,907  348,130  197,684
23   156,282  167,104  145,459
24   201,270  181,947  220,594
25   241,041  243,697  238,384
26   199,792  273,859  125,725
27   388,756  358,287  419,225
28   160,608  132,972  188,244
29   234,565  258,863  210,266

In [253]:
# 각 자치구를 행정동 앞에 붙여줌
# 지역명을 추적할 변수
지역명 = None

for i in range(len(data)):
    # 현재 행에 '하위 메뉴 펼침'이 포함되어 있는지 체크
    current_value = data.loc[i, '행정구역'].values[0]  # Series에서 실제 값 추출
    if isinstance(current_value, str) and '하위 메뉴 펼침' in current_value:
        # '하위 메뉴 펼침'을 제외한 지역명 추출
        지역명 = current_value.replace('하위 메뉴 펼침', '').strip()
    
    # 지역명이 설정되어 있고 '하위 메뉴 펼침'이 포함되지 않은 행이라면
    elif 지역명 and isinstance(current_value, str):
        # 지역명을 현재 행에 추가
        data.loc[i, '행정구역'] = 지역명 + ' ' + current_value

# 결과 확인 (테스트용)
print(data[['행정구역']].head())

             행정구역


0  하위 메뉴 펼침서울시 전체
1     하위 메뉴 펼침종로구
2       종로구 청운효자동
3         종로구 사직동
4         종로구 삼청동

In [255]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   (행정구역, , )                 451 non-null    object
 1   (2023년 4분기, 환산 임대료, 전체)    451 non-null    object
 2   (2023년 4분기, 환산 임대료, 1층)    451 non-null    object
 3   (2023년 4분기, 환산 임대료, 1층 외)  451 non-null    object
 4   (2024년 1분기, 환산 임대료, 전체)    451 non-null    object
 5   (2024년 1분기, 환산 임대료, 1층)    451 non-null    object
 6   (2024년 1분기, 환산 임대료, 1층 외)  451 non-null    object
 7   (2024년 2분기, 환산 임대료, 전체)    451 non-null    object
 8   (2024년 2분기, 환산 임대료, 1층)    451 non-null    object
 9   (2024년 2분기, 환산 임대료, 1층 외)  451 non-null    object
dtypes: object(10)
memory usage: 35.4+ KB

In [257]:
# 수집 결과 csv로 저장
data.to_csv('매출액_20234_20242.csv', index=False, encoding='utf-8')